{env.DOMAIN} {
	reverse_proxy {env.HOST}:{env.PORT}
	tls {
		dns duckdns {env.DUCKDNS} {
		}
		insecure_secrets_log /tmp/caddy.log # questo serve per salvare log del traffico cifrato (da usare con wireshark)
	}
}
